In [1]:
%pip install --quiet pandas pingouin

[notice] A new release of pip is available: 23.0.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
hourglass = {
    
}

## Expert annotation to Pandas

In [21]:
import json
with open('experts.json') as f:
    annotations = json.load(f)

In [88]:
import pandas as pd
import random
expert_ratings = []
for task in annotations:
    for ann in task['annotations']:
        expert_ratings.append(
            { 'ID' : f"{task['id']}", 'Rater' : f"{ann['completed_by']}", 'Rating': random.randint(1, 10) } # ann['result'][0]['value']['polygonlabels'][0]
        )
df = pd.DataFrame(expert_ratings)
expert_ratings

[{'ID': '171671643', 'Rater': '64261', 'Rating': 9},
 {'ID': '171671643', 'Rater': '70243', 'Rating': 6},
 {'ID': '171675026', 'Rater': '64261', 'Rating': 2},
 {'ID': '171675026', 'Rater': '70243', 'Rating': 1},
 {'ID': '171676295', 'Rater': '64261', 'Rating': 2},
 {'ID': '171676295', 'Rater': '70243', 'Rating': 2},
 {'ID': '171680270', 'Rater': '64261', 'Rating': 5},
 {'ID': '171680270', 'Rater': '70243', 'Rating': 9},
 {'ID': '171681301', 'Rater': '64261', 'Rating': 7},
 {'ID': '171681301', 'Rater': '70243', 'Rating': 8},
 {'ID': '171682379', 'Rater': '64261', 'Rating': 9},
 {'ID': '171682379', 'Rater': '70243', 'Rating': 1},
 {'ID': '171687684', 'Rater': '64261', 'Rating': 5},
 {'ID': '171687684', 'Rater': '70243', 'Rating': 5},
 {'ID': '171688077', 'Rater': '64261', 'Rating': 2},
 {'ID': '171688077', 'Rater': '70243', 'Rating': 3},
 {'ID': '171688924', 'Rater': '64261', 'Rating': 5},
 {'ID': '171688924', 'Rater': '70243', 'Rating': 5},
 {'ID': '171689365', 'Rater': '64261', 'Rating': 6},
 {'ID': '171689365', 'Rater': '70243', 'Rating': 4},
 {'ID': '171690320', 'Rater': '64261', 'Rating': 8},
 {'ID': '171690320', 'Rater': '70243', 'Rating': 5},
 {'ID': '171690369', 'Rater': '64261', 'Rating': 5},
 {'ID': '171690369', 'Rater': '70243', 'Rating': 8},
 {'ID': '171690438', 'Rater': '64261', 'Rating': 4},
 {'ID': '171690438', 'Rater': '70243', 'Rating': 1},
 {'ID': '171690504', 'Rater': '64261', 'Rating': 9},
 {'ID': '171690504', 'Rater': '70243', 'Rating': 1},
 {'ID': '171690536', 'Rater': '64261', 'Rating': 1},
 {'ID': '171690536', 'Rater': '70243', 'Rating': 7},
 {'ID': '171691322', 'Rater': '64261', 'Rating': 8},
 {'ID': '171691322', 'Rater': '70243', 'Rating': 2},
 {'ID': '171691916', 'Rater': '70243', 'Rating': 6},
 {'ID': '171691916', 'Rater': '64261', 'Rating': 2},
 {'ID': '171693231', 'Rater': '64261', 'Rating': 5},
 {'ID': '171693231', 'Rater': '70243', 'Rating': 8},
 {'ID': '171709288', 'Rater': '64261', 'Rating': 3},
 {'ID': '171709288', 'Rater': '70243', 'Rating': 6},
 {'ID': '171709289', 'Rater': '70243', 'Rating': 4},
 {'ID': '171709289', 'Rater': '64261', 'Rating': 4},
 {'ID': '171709291', 'Rater': '64261', 'Rating': 1},
 {'ID': '171709291', 'Rater': '70243', 'Rating': 5},
 {'ID': '171709292', 'Rater': '64261', 'Rating': 10},
 {'ID': '171709292', 'Rater': '70243', 'Rating': 4},
 {'ID': '171711293', 'Rater': '64261', 'Rating': 2},
 {'ID': '171711293', 'Rater': '70243', 'Rating': 2},
 {'ID': '171711387', 'Rater': '64261', 'Rating': 8},
 {'ID': '171711387', 'Rater': '70243', 'Rating': 1}]

In [90]:
diocane = [
{'ID': "171671643", 'Rater': "64261", 'Rating': 9.6},
 {'ID': "171671643", 'Rater': "70243", 'Rating': 8.5},
 {'ID': "171675026", 'Rater': "64261", 'Rating': 6.6},
 {'ID': "171675026", 'Rater': "70243", 'Rating': 9.0},
 {'ID': "171676295", 'Rater': "64261", 'Rating': 9.0},
 {'ID': "171676295", 'Rater': "70243", 'Rating': 9.0}
]

import pingouin as pg
icc = pg.intraclass_corr(data=pd.DataFrame(expert_ratings), targets='ID', raters='Rater',
                         ratings='Rating')

In [91]:
icc

,Type,Description,ICC,F,df1,df2,pval,CI95%
0,ICC1,Single raters absolute,-0.111493,0.799382,23,24,0.702967,"[-0.48, 0.3]"
1,ICC2,Single random raters,-0.116285,0.793254,23,23,0.708421,"[-0.5, 0.3]"
2,ICC3,Single fixed raters,-0.115291,0.793254,23,23,0.708421,"[-0.49, 0.29]"
3,ICC1k,Average raters absolute,-0.250966,0.799382,23,24,0.702967,"[-1.85, 0.46]"
4,ICC2k,Average random raters,-0.263173,0.793254,23,23,0.708421,"[-1.98, 0.46]"
5,ICC3k,Average fixed raters,-0.260629,0.793254,23,23,0.708421,"[-1.91, 0.45]"